/*
	Matrix Styling
	@author Thomas Potthast
*/
*{
	color: #FFFFFF;
	margin: 0;
	padding:0;
}
body{
	background-color: #000000;
	font-family: Arial, Verdana, sans-serif;
}
a{
	text-decoration: none;
	border: none;
}
a img{
	border: none;
}
.header{
	clear: both;
	padding-top: 20px;
}
.mainMenuBtn{
	float: right;
	width: 32px;
	height: 32px;
	padding-right: 15px;
}
.menuContainer{
	clear: both;
}
.tex{
	float:left;
	width: 32px;
	height: 32px;
}
.title{
	font-size: 24px;
	width: auto !important;
	clear: none;
	padding-left: 20px;
	float: left;
}
.base{
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding-top: 20px;
}
.appContainer{
	width: 160px;
}
.app_icon{
	width: 96px;
	height: 96px;
}
.appTitle{
	padding-top: 0px;
	padding-bottom: 5px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
}
.homeBtn{
	position: fixed;
	top: 20px;
	right: 30px;
}
.runDiv{
	width:100%;
	text-align: center;
	padding-top: 10px;
}
.outputDiv{
	clear: both;
	padding-top: 10px;
}
.outputDiv h1{
	font-size: 20px;
	font-weight: bold;
	color: #0000FF;
}
.outputDiv h2{
	font-size: 18px;
	font-weight: bold;
}
.outputDiv p{
	padding-top: 10px;
}	
