/*
	Matrix Styling
	@author Thomas Potthast
*/
*{
	color: #FFFFFF;
	margin: 0;
}
body{
	background-color: #000000;
	font-family: Arial, Verdana, sans-serif;
}
.title{
	font-size: 24px;
}
.base{
	float: left;
	color: #FFFFFF;
	padding: 10px 25px 0px 25px;
	text-align: center;
}
.appTitle{
	padding-top: 0px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
}
.homeBtn{
	position: fixed;
	top: 40px;
	right: 30px;
}
