#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Browser
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/web-icon.png
Exec=/usr/bin/qtopia/demos/browser/browser http://www.ti.com
Type=Application
