#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Shaders
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/3d4-icon.png
Type=Application
Exec=runOGLES2Shaders -qaf=1000
Categories=3d
