#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Wi-Fi
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/wireless-icon.png
Type=Directory
X-MATRIX-CategoryTarget=wifi
