#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Wi-Fi
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/wireless-icon.png
Type=Application
Exec=/usr/share/matrix-gui-v2/bin/wpatest.sh wpa_gui-e -geometry 480x240+0+0
Categories=wifi
