#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Deform
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/qt-icon.png
Exec=/usr/bin/qtopia/demos/deform/deform -small-screen
Type=Application
Categories=Qt4
