#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Set 300Mhz
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/power-icon.png
Type=Application
Exec=setopp2
Categories=power
