#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Set 1Ghz
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/power-icon.png
Type=Application
Exec=setopp1
Categories=power
