#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Memory
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/settings-icon.png
Type=Application
Exec=/usr/share/matrix-gui-v2/bin/memInfo
Categories=settings
