#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Network Settings
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/netsettings-icon.png
Type=Application
Exec=/usr/share/matrix-gui-v2/bin/networkSettings
Categories=settings
