#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Settings
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/settings-icon.png
Type=Directory
X-MATRIX-CategoryTarget=settings
