#!/usr/bin/env xdg-open
[Desktop Entry]
Name=System Info
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/info-icon.png
Type=Application
Exec=/usr/share/matrix-gui-v2/bin/sysSettings
Categories=settings
