#!/usr/bin/env xdg-open
[Desktop Entry]
Name=H.264 Decode
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/decode-icon.png
Type=Application
Exec=runH264Dec
Categories=multimedia
