#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MPEG-2 Decode
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/decode-icon.png
Type=Application
Exec=runMpeg2Dec
Categories=multimedia
