#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MPEG-4 + AAC Dec
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/decode-icon.png
Type=Application
Exec=runMpeg4AacDec
Categories=multimedia
