#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Multimedia
GenericName=Demo App
Icon=/usr/share/matrix-gui-v2/icons/multimedia-icon.png
Type=Directory
X-MATRIX-CategoryTarget=multimedia
